<table width="100%" cellpadding="5" cellspacing="5" >
    <tr style="width:100%; margin-top:10px; display:block; float:left">
        <td style="width: 17px;">&nbsp;</td>
        <td style="width: 583px;"><h2 style="font-size:16px;margin:10px 10px 0 0;">Contato realizado a partir do formulário do site. <br>Os dados da mensagem são:</h2></td>
    </tr>
    <tr style="width:100%; margin-top:10px; display:block; float:left">
        <td style="width: 17px;">&nbsp;</td>
        <td style="width: 583px;"><p style="font-size:16px;margin:10px 10px 0 0;"><strong>Nome:</strong> %%NOME%%</p></td>
    </tr>
    <tr style="width:100%; margin-top:10px; display:block; float:left">
        <td style="width: 17px;">&nbsp;</td>
        <td style="width: 583px;"><p style="font-size:16px;margin:10px 10px 0 0;"><strong>E-mail:</strong> %%EMAIL%%</p></td>
    </tr>
    <tr style="width:100%; margin-top:10px; display:block; float:left">
        <td style="width: 17px;">&nbsp;</td>
        <td style="width: 583px;"><p style="font-size:16px;margin:10px 10px 0 0;"><strong>Telefone:</strong> %%TELEFONE%%</p></td>
    </tr>
    <tr style="width:100%; margin-top:10px; display:block; float:left">
        <td style="width: 17px;">&nbsp;</td>
        <td style="width: 583px;"><p style="font-size:16px;margin:10px 10px 0 0;"><strong>Cidade:</strong> %%CIDADE%% - %%ESTADO%%</p></td>
    </tr>
    <tr style="width:100%; margin-top:10px; display:block; float:left">
        <td style="width: 17px;">&nbsp;</td>
        <td style="width: 583px;"><p style="font-size:16px;margin:10px 10px 0 0;"><strong>Mensagem:</strong> %%MENSAGEM%%</p></td>
    </tr>
</table>